#root {
  max-width: 70ch;
  margin: 0 auto;
  padding: 4rem 0 2rem;
  text-align: center;
  --gray-color: color-mix(in oklch, graytext 16%, field);
  --light-gray-color: color-mix(in oklch, graytext 8%, field);
  --dark-gray-color: color-mix(in oklch, graytext 48%, field);
}

section {
  min-width: 50ch;
}

.all-bdr {
  border: medium solid var(--gray-color);
  border-radius: 0.5rem;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  margin: 0.5em 0 0.75em;
}

form {
  padding: 2ch 0;
  margin: 0 auto;
  width: 40ch;
}

.form + div {
  border-top: thin solid var(--dark-gray-color);
}

label {
  display: block;
  text-align: left;
}

input {
  flex-grow: 1;
  font-size: 1rem;
}

input:required:invalid + span::before,
input:required:valid + span::before {
  position: absolute;
  font-size: 1.075rem;
  font-weight: bold;
}

input:required:invalid + span::before {
  content: "!";
  color: activetext;
}

input:required:valid + span::before {
  content: "\2714";
  color: color-mix(in oklch, mark 64%, linktext);
}

.fnt-lsz {
  font-size: 1.125em;
}

.mrn-t {
  margin-top: 0.5rem;
}

.mrn-bt {
  margin-bottom: 0.5rem;
}

.pdn-bl {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pdn-ln {
  padding-left: 2ch;
  padding-right: 2ch;
}

.e-flx {
  display: flex;
  align-items: center;
  column-gap: 1ch;
}

.flx-wrp {
  flex-wrap: wrap;
}

.flx-b {
  flex-basis: 100%;
}

.aln-d {
  align-items: flex-end;
}

.aln-t {
  align-items: flex-start;
}

.dir-cl {
  flex-direction: column;
}

.jst-bw {
  justify-content: space-between;
}

.jst-ar {
  justify-content: space-around;
}

.slf-en {
  align-self: flex-end;
}

.txt-lt {
  text-align: left;
}

.txt-rt {
  text-align: right;
}

.mrn-lt {
  margin-left: 1ch;
}

.blk {
  display: block;
}

.dw-100 {
  width: 100%;
}

.bg-gray {
  background-color: var(--gray-color);
}

.bg-lgray {
  background-color: var(--light-gray-color);
}

.bg-trs {
  background-color: transparent;
}

.bdr-bt {
  border-bottom: medium solid var(--dark-gray-color);
}

.bdr-t {
  border-top: thin solid var(--dark-gray-color);
}
