#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* added styles */

form {
  padding: 1lh 3ch;
  max-width: 60ch;
  & h2 {
    margin: 0 0 0.5lh 0;
  }
  & h4 {
    margin: 0.25lh 0 0 0;
    text-decoration: underline;
  }
}

.hr {
  border: medium solid buttonface; 
}

hr {
  width: 100%;
  border-color: color-mix(in oklch, graytext 16%, field);
}

label {
  margin-bottom: 0.35lh;
}

input {
  margin: 0 1ch;
  font-size: 1em;
}

input:required:invalid + span::before,
input:required:valid + span::before {
  position: absolute;
  font-size: 1.075rem;
  font-weight: bold;
}

input:required:invalid + span::before {
  content: "!";
  color: activetext;
}

input:required:valid + span::before {
  content: "\2714";
  color: color-mix(in oklch, mark 64%, linktext);
}

.top-margin {
  margin-top: 0.35lh;
}

.element-flex {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.element-center {
  align-items: center;
}

.elem-block {
  display: block;
}

.elem-start {
  align-items: start;
}

.dir-column {
  flex-direction: column;
}

.just-around {
  width: 100%;
  justify-content: space-around;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
  margin-left: 0;
}

dl {
  text-align: left;
}

dl dt {
  padding-top: 0.5lh;
  border-top: medium solid buttonface;
}

dt h3 {
  margin-top: 1lh;
}

dd {
  margin-bottom: 1lh;
}

.max-width-80 {
  max-width: 80ch;
}
